@*

*@
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

@{
    if (Model == null)
    {
        <h1>
            Cet ID est invalide.
        </h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Birth date</th>
                    <th scope="col">Image</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.id</td>
                    <td>@Model.first_name</td>
                    <td>@Model.last_name</td>
                    <td>@Model.email</td>
                    <td>@Model.date_birth</td>
                    <td>@Model.image</td>
                    <td>@Model.country</td>
                </tr>
            </tbody>
        </table>

    }
}